* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, sans-serif;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: #EEEEEA;
}

.header {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  padding: 1em;
  padding-left: 10em;
  border-bottom: 1.5px solid black;
}

.left-section .logo {
  width: 4em;
  margin-right: 1.5em;
}

.left-section {
  display: flex;
  align-items: center;
}

.nav-containers ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 1.5em;
}

.nav-containers a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}