@media (max-width: 1440px) {
  .hero-container {
    padding: 2em;
  }

  .hero-right {
    width: 50%;
  }

  .img-container img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }

  .hero-left .hero-title {
    font-size: 4em;
  }

  .content-container .left-container, .content-container-two .right-container {
    width: 40%;
  }

  .content-container .left-container p,
  .content-container-two .right-container p {
    font-size: 1.3em;
    line-height: 1.5;
  }


  .quote-section .quote-container {
    padding: 0;
    width: 70%;
  }

  .quote-section .author-container {
    width: 30%;
    padding: 0;
  }

  .intel-logo {
    position: relative;
    right: 0em;
  }
}


@media (max-width: 1024px) {
  .header {
    align-items: center;
    padding: 1em;
    padding-left: 2em;
  }

  .left-section .logo {
    width: 3em;
    margin-right: 1em;
  }

  .nav-containers ul {
    gap: 1em;
  }

  .hero-container {
    flex-direction: column;
    gap: 2em;
    padding: 4em;
    height: auto;
  }

  .hero-container .hero-left {
    width: 80%;
    align-items: center;
    text-align: center;
  }

  .hero-left .description {
    font-size: 1.2em;
    width: 80%;
  }

  .hero-right {
    width: 100%;
  }

  .hero-left .hero-button {
    padding: 0.5em 1.25em;
  }

  .advertising-wrapper {
    padding: 5em;
    height: auto;
    width: 800px;
  }

  .advertising-wrapper p {
    font-size: 1.2em;
  }

  .content-container,
  .content-container-two {
    gap: 2em;
  }

  .content-container .left-container,
  .content-container-two .right-container {
    padding: 1em;
    width: 50%;
  }

  .content-container .left-container p,
  .content-container-two .right-container p {
    font-size: 1.2em;
  }

  .content-container .right-container,
  .content-container-two .left-container {
    width: 45%;
  }

  .content-container .left-container .content-btn,
  .content-container-two .right-container .content-btn {
    font-size: 1em;
  }

  .quote-section .container-wrapper {
    padding: 3em;
    margin: 2em 0 2em 0;
  }

  .quote-container h3 {
    font-size: 25px;
  }

  .quote-container img {
    width: 3em;
    object-fit: cover;
  }

  .quote-section .quote-container {
    padding: 0;
    width: 70%;
  }

  .quote-section .author-container {
    width: 30%;
    padding: 0;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
  }

  .intel-logo {
    width: 6em;
  }

  .author-source {
    width: 120%;
  }

  .andy-image {
    width: 3em;
    height: 3em;
  }

  .author-details {
    right: 2em;
    bottom: 1.3em;
  }

  .author-details p {
    font-size: 1em;
  }

  .andy-image {
    display: flex;
    position: relative;
    right: 0;
    bottom: 1.5em;
  }

  .image-slider .meta-logo,
  .image-slider .amazon {
    height: 2em;
  }

}


@media (max-width: 768px) {
  .header {
    padding-left: 1em;
  }

  .left-section .nav-containers ul {
    gap: 1em;
  }

  .hero-container {
    flex-direction: column;
    gap: 2em;
    height: auto;
    padding: 3.5em;
  }

  .hero-container .hero-left {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .hero-left .description {
    font-size: 18px;
  }

  .hero-right {
    width: 100%;
  }

  .advertising-wrapper {
    padding: 4em;
    height: auto;
    width: 700px;
  }

  .advertising-wrapper p {
    font-size: 1.2em;
  }

  .content-container, .content-container-two {
    gap: 2em;
  }

  .content-container .left-container, 
  .content-container-two .right-container {
    width: 50%;
    padding: 1em;
  }

  .content-container .left-container p,
  .content-container-two .right-container p {
    font-size: 1em;
  }

  .content-container .right-container {
    width: 50%;
  }
  
  .content-container-two .left-container {
    width: 45%; 
    padding: 1em;
    box-sizing: border-box;
  }
  
  .content-container-two .left-container img {
    width: 100%; 
    height: auto;
    object-fit: cover;
  }

  .content-container .left-container .content-btn,
  .content-container-two .right-container .content-btn {
    font-size: 1em;
  }

  .quote-section {
    width: 100%;
    padding: 0;
  }

  .quote-section .container-wrapper {
    padding: 3em;
    gap: 3em;
  }

  .quote-container h3 {
    font-size: 25px;
  }

  .quote-container img {
    width: 4em;
    object-fit: cover;
  }

  .quote-section .quote-container {
    padding: 0;
    width: 70%;
  }

  .quote-section .author-container {
    width: 30%;
    padding: 0;
  }


  .author-source {
    width: 120%;
  }

  .andy-image {
    width: 3em;
    height: 3em;
  }

  .author-details {
    right: 2em;
  }

  .author-details p {
    font-size: 1em;
  }

  .intel-logo {
    width: 6em;
  }

  .andy-image {
    display: flex;
    position: relative;
    right: 0;
    bottom: 0.5em;
  }

  .image-slider .meta-logo,
  .image-slider .amazon {
    height: 2em;
  }

  .form-wrapper .form-description {
    font-size: 1em;
  }

  .form-wrapper .form-title {
    font-size: 2em;
  }

  .email-container .email-input {
    width: 35em;
  }

  .email-container .submit-button {
    width: 8em;
  }
}

@media (max-width: 375px) {
  .nav-containers a {
    font-size: 1em;
  }

  .left-section .logo {
    width: 3em;
  }

  .hero-left .hero-title {
    font-size: 2.5em;
  }

  .hero-left .description {
    font-size: 1em;
    width: 100%;
  }

  .hero-right .img-container img {
    width: 350px;
    height: auto;
    object-fit: cover;
  }

  .hero-left .hero-button {
    font-size: 1em;
  }

  .advertising-wrapper {
    padding: 3em;
    width: 100%;
  }

  .advertising-wrapper h3 {
    font-size: 2em;
  }

  .advertising-wrapper p {
    font-size: 1em;
  }

  .content-container,
  .content-container-two {
    display: flex;
    flex-wrap: wrap; /* Ensure the content wraps correctly */
    gap: 1em; /* Adjust the gap between the elements */
  }

  .content-container-two {
    padding: 5em 0 5em 0;
  }
  
  .content-container .left-container,
  .content-container-two .right-container {
    padding: 1em;
    width: 100%; /* Ensure the containers take up the full width */
    box-sizing: border-box; /* Include padding and border in the width */
  }
  
  .content-container .left-container p,
  .content-container-two .right-container p {
    margin-bottom: 1em; /* Add margin to separate the text from the image */
  }

  .content-container .right-container img,
  .content-container-two .content-image-box img {
    width: 345px;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .quote-section .container-wrapper {
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 0em;
  }
  
  .quote-section .quote-container {
    width: 80%;
    align-items: flex-start;
    transform: translateX(30px);
  }

  .quote-container h3 {
    font-size: 30px;
    margin-bottom: 1em;
  }
  
  .quote-section .author-container {
    width: 100%;
    transform: translateX(40px);
  }

  .intel-logo {
    width: 84px;
    height: auto;
  }

  .author-details {
    right: 1em;
  }

  .andy-image {
    bottom: 1.2em;
  }
  
  .image-slider img {
    height: 2em;
  }

  .image-slider .meta-logo,
  .image-slider .amazon {
    height: 1.5em;
  }

  .form-container {
    padding: 0;
  }

  .form-wrapper .form-description {
    font-size: 1.2em;
    text-align: center;
  }

  .form-wrapper .form-title {
    font-size: 25px;
    text-align: center;
  }

  .email-container {
    gap: 1em;
  }

  .email-container .email-input {
    width: 100%;
  }

  .email-container .submit-button {
    width: 50%;
    padding: 0.5em;
  }
  
  footer {
    text-wrap: nowrap;
  }

}
