* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, sans-serif;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: #EEEEEA;
}

.header {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  padding: 2em;
  margin: 0 4.5em 0 4.5em;
}

.left-section .logo {
  width: 4em;
  margin-right: 1.5em;
}

.left-section {
  display: flex;
  align-items: center;
}

.nav-containers ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 1.5em;
}

.nav-containers a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 1em;
}

.right-section a {
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

.right-section .sign-btn {
  background-color: transparent;
  color: rgb(15, 119, 216);
  border: 1px solid rgb(15, 119, 216);
}

.right-section .log-in-btn {
  background-color: rgb(15, 119, 216);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  color: white;
}

.right-section .log-in-btn:hover {
  background-color: lightgrey;
  color: black;
  transition: 0.2s;
}

.article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
}

.article-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
  width: 55%;
  align-items: flex-start
}

.article-wrapper h1 {
  font-size: 4em;
}

.article-wrapper p {
  font-size: 1.2em;
  color: rgb(15, 119, 216);
}

.article-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.text-wrapper p {
  color: black;
  margin: 1.5em 0;
  line-height: 2em;
}

.paragraph-collect {
  font-weight: bold;
}

ol {
  padding-left: 2em;
}

ol li {
  font-size: 1.1em;
  line-height: 2em;
}

.quiz-wrapper {
  background: #EEEEEA;
  width: 90%;
  max-width: 800px;
  margin: 100px auto;
  border-radius: 10px;
  padding: 2.5em;
}

.quiz-wrapper h1 {
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 0.5em;
}

.quiz {
  padding: 1em 0;
}

.quiz h2 {
  font-size: 1.1em;
  color: #001e4d;
  font-weight: 600;

}

.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 1em;
  margin: 1em 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 0.8em;
  margin: 1em auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background: #9aeabc;
}

.wrong {
  background: #ff9393;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: black;
  color: white;
}

@keyframes slideUpFadeIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  animation: slideUpFadeIn 0.9s ease-in-out forwards;
}

.title.reveal.active {
  animation-delay: 0s;
}

.date.reveal.active {
  animation-delay: 0.2s;
}

.image.reveal.active {
  animation-delay: 0.4s;
}
